/* General Stylings Start*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.main_container {
    display: flex;
}

.popup-content-add-task {
    /* height: auto; */
    margin: 20px;
    overflow: hidden;
    font-family: 'Open Sans' !important;
}

.d-none {
    display: none !important;
}

.side-bar {
    z-index: 0;
}


ol {
    list-style-type: none;
}

li {
    margin: 10px auto;
}

.help-me-header button {
    font-size: 25px;
    /* remove default stylings */
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.help-me-header button:hover {
    opacity: .6;
}

@media (max-width:375px) {
    .nav-container {
        padding: 5px 14px;
    }
}

.popup-header {
    display: flex;
    justify-content: left;
    font-size: 28px;
}

.popup-header h2,
.createtask-button {
    margin: 20px;
    padding: 0 5px;
}

.createtask-button {
    color: #fff;
    background-color: #4589FF;
    border-radius: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.input-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    margin: 20px;
}

.popup-input {
    width: 90%;
    font-size: 28px;
    padding: 5px;
}

form {
    display: flex;
    justify-content: center;
}

select {
    width: 90%;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    margin: 20px;
    padding: 5px;
    color: #4589FF;
}

select option {
    color: #000;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin: 20px;
    padding: 5px;
}

.date>input {
    font-size: 18px;
    width: 95%;
    border-bottom: 0;
}

.date>input::placeholder {
    padding-left: 200px;
}




label>input {
    width: 90%;
    border-bottom: 1px solid lightgray;
    font-size: 28px;
    padding: 5px;
    margin: 0 20px;
}

.date-header {
    margin: 0 20px;
    padding: 5px;
}

.priority {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px;
}

.priority-levels {
    box-shadow: 1px 1px rgb(0 0 0 / 10%), -1px 1px rgb(0 0 0 / 10%), 1px -1px rgb(0 0 0 / 10%), -1px -1px rgb(0 0 0 / 10%);
    padding: 10px 15px;
    width: 31%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.priority-levels>img {
    padding: 0 0 0 5px;
}

.priority-levels:nth-child(1):hover {
    border: 2px solid #ff3d00;
    border-top: none;
    border-left: none;
    border-right: none;
}

.priority-levels:nth-child(2):hover {
    border: 2px solid #ffa800;
    border-top: none;
    border-left: none;
    border-right: none;
}

.priority-levels:nth-child(3):hover {
    border: 2px solid #7ae229;
    border-top: none;
    border-left: none;
    border-right: none;
}


.urgent {
    background-color: #ff3d00;
    color: #fff;
}

.medium {
    background-color: #ffa800;
    color: #fff;
}

.low {
    background-color: #7ae229;
    color: #fff;
}



.description {
    margin: 0 20px;
    padding: 5px;
}

textarea {
    width: 90%;
    height: 100px;
    font-size: 17px;
    margin: 15px 0;
    padding: px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

textarea::placeholder {
    font-size: 16px;
}

.subtasks {
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin: 20px;
    padding: 5px;
}

.subtasks-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.subtasks-input button {
    height: 25px;
    width: 25px;
    background-color: #fff;
    color: #4589FF;
}

.subtasks input {
    font-size: 18px;
    margin: 15px 0;
    border-bottom: 0;
}

/* To only style the first child of an container */
.popup>*:first-child {
    position: absolute;
    right: 2%;
    top: .5%;
    background: none;
    font-size: 20px;
}

/* Pop Up End */

.popup2 {
    margin-top: 70px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar {
    position: fixed;
    width: 100%;
}

.createtask-button-clear {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    background: #FFFFFF;
    color: #4589FF;
    border: 1px solid #647188;
    border-radius: 10px;
    height: 61px;
    font-size: 21px;
    transition: all 125ms ease-in-out;
}

.createtask-button-clear:hover {
    border: 1px solid #4589FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 125ms ease-in-out;
    color: #4589FF;
}

.createtask-button-2 {
    color: #fff;
    background-color: #4589FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    border: 1px solid #647188;
    border-radius: 10px;
    height: 61px;
    font-size: 21px;
    transition: all 125ms ease-in-out;
}

.createtask-button-2:hover {
    transition: all 125ms ease-in-out;
    background: #4e85e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-task {
    background-color:  rgb(210,227,255);
}

.two-button {
    display: flex;
    height: 8vh;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 25px;
    gap: 30px;
}

.urgent {
    background-color: #ff3d00;
    color: #fff;
}

.medium {
    background-color: #ffa800;
    color: #fff;
}

.low {
    background-color: #7ae229;
    color: #fff;
}

.urgent-popup {
    background-color: #FFD2D2;
}

.medium-popup {
    background-color: #FFEBB9;
}

.low-popup {
    background-color: #d0eeb9;
}

.description {
    margin: 0 20px;
    padding: 5px;
}

.successfull_added {
    margin-top: 300px;
    margin-left: 200px;
    font-size: 28px;
    width: 400px;
    text-align: center;
}

.successfull_added b {
    font-size: 38px;
    color: rgb(69, 137, 255);
}



.successfull_added_animation {
    animation: fade-in 1s ease-in;
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.display_opacity {
    opacity: 0;
}


.help-me-container {
    position: absolute;
    left: 0;
    z-index: 1;
}

.help-me-container h1 {
    font-size: 36px;
}

.help-me-container h1,
.help-me-container h2 {
    color: #4589FF;
}

.help-me-header {
    display: flex;
    justify-content: space-between;
}



@media (max-width: 1250px) {
    .successfull_added {
        margin-left: 20px;
    }
}

@media (max-width: 1000px) {
    .main_container {
        display: block;
    }

    .popup-content-add-task {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* overflow: visible; */
        width: 95vw;
        padding: 30px;
        margin: -100px 0 0 0;
    }

    .successfull_added {
        display: none;
    }

    .popup2 {
        margin-top: 180px;
    }

    .popup-content-add-task {
        padding-bottom: 120px !important;
    }

    .two-button button {
       height: 50px;
       margin-top: -20px;
    }
}

@media only screen and (max-width: 840px) {

    html {
      overflow: visible !important;
    }
  }

@media (max-width: 500px) {
    .priority span {
        font-size:14px ;
    }
    #img1, #img2, #img3 {
        width: 20px;
    }
}
