/* General Stylings Start*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.white {
    color: #fff;
}

body {
    overflow: hidden;
}

.navbar div {
    z-index: 2;
    position: relative;
}

.cursor {
    cursor: pointer;
}

.d-none {
    display: none;
}
/* Remove default stylings */
button, button:focus{
    outline: none;
    border: 1px solid transparent;
}
  
button:active{
    outline: none;
    border: 1px solid grey;
}

select, select:focus{
    outline: none;
    border: 1px solid transparent;
}
  
select:active{
    outline: none;
    border: 1px solid grey;
}

input, input:focus{
    outline: none;
    background: transparent;
    border: none;
    text-indent: 10px;
}

input[type="text"]:focus {
    border: none;
  }
  
input:active{
    outline: none;
    background: transparent;
    border: 1px solid grey;
    text-indent: 10px;
}
/* General Stylings End*/

/* Main Column Start */
.main-column {
    margin: 0 auto;
}
/* Main Column End */


/* Main Start */
.main {
    display: flex;
}

/* Board Header Start */
.board-header {
    display: flex;
    margin: 50px;
}

.board-header button {
    padding-right:20px;
}

.board-header input, .board-header button {
    height: 45px;
    border-radius: 10px;
}

.search-task {
    height: 45px;
    border: 1px solid rgb(184, 184, 184);
    margin-right: 30px;
    border-radius: 10px;
}

::placeholder {
    color:rgb(196, 196, 196);
}

.open-add-task {
    color:#fff;
    background-color: #4589FF;
    font-size: 20px;
    padding-left: 20px;
}

.search-button {
    color: #000;
    background: none;
    padding-right:20px;
}

/* Board Header End */

/* Pop Up Start */
.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(190, 190, 190, 0.3);
}

.popup {
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
}

/* Animation Start */
.show {
    animation: pop-up-right 0.5s forwards;
  }

.hide {
    animation: pop-up-right-reverse 0.5s forwards;
}

  @keyframes pop-up-right {
    from {
      right: -100%;
    }
    to {
      right: 0;
      
    }
  }

  @keyframes pop-up-right-reverse {
    from {
        right: 0;
      }
      to {
        right: -100%;
        
      }
  }
/* Animation End */

.popup-content {
    height: 100%;
    margin: 30px;
}

.popup-header {
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.popup-header h2, .createtask-button {
    margin: 20px;
    padding: 0 5px;
}

.createtask-button {
    color: #fff;
    background-color: #4589FF;
    border-radius: 10px;
    font-size: 20px;
    font-weight:lighter;
}

.input-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    margin: 20px;
}

.popup-input {
    width: 90%;
    font-size: 28px;
    padding:5px;
}

form {
    display: flex;
    justify-content: center;
}

select {
    width: 90%;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    margin: 20px;
    padding:5px;
    color: #4589FF;
}

select option {
    color: #000;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin: 20px;
    padding: 5px;
}

.date > input {
    font-size: 18px;
    width: 100%;
    border-bottom: 0;
}




label > input {
    width: 90%;
    border-bottom: 1px solid lightgray;
    font-size: 28px;
    padding:5px;
    margin: 0 20px;
}

.date-header {
    margin:0 20px;
    padding:5px;
}

.priority {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px;
}

.priority-levels {
    box-shadow: 1px 1px rgb(0 0 0 / 10%), -1px 1px rgb(0 0 0 / 10%), 1px -1px rgb(0 0 0 / 10%), -1px -1px rgb(0 0 0 / 10%);
    padding: 10px 15px;
    width: 31%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.priority-levels > img {
    padding: 0 0 0 5px;
}

.priority-levels:nth-child(1):hover {
    border: 2px solid #ff3d00;
    border-top: none;
    border-left: none;
    border-right: none;
}

.priority-levels:nth-child(2):hover {
    border: 2px solid #ffa800;
    border-top: none;
    border-left: none;
    border-right: none;
}

.priority-levels:nth-child(3):hover {
    border: 2px solid #7ae229;
    border-top: none;
    border-left: none;
    border-right: none;
}


.urgent {
    background-color: #ff3d00;
    color: #fff;
}

.medium {
    background-color: #ffa800;
    color: #fff;
}

.low {
    background-color: #7ae229;
    color: #fff;
}



.description {
    margin:0 20px;
    padding:5px;
}

textarea {
    width: 90%;
    font-size: 17px;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

textarea::placeholder {
    font-size: 16px;
}

.subtasks {
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin: 20px;
    padding: 5px;
}

.subtasks-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.subtasks-input button {
    height: 25px;
    width: 25px;
    background-color: #fff;
    color: #4589FF;
}

.subtasks input {
    font-size: 18px;
    margin: 15px 0;
    border-bottom: 0;
}

/* To only style the first child of an container */
.popup > *:first-child {
    position: absolute;
    right: 2%;
    top: .5%;
    background: none;
    font-size: 20px;
}
/* Pop Up End */

/* Stages Container Start */
.stages-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.stage-general {
    width: 25%;
}

.stage-header {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    gap: 50px;
}

.stage-header button {
    font-size: 20px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    color: #4589FF;
    border: 1px solid #4589FF;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
}

.stage-header button:hover {
    opacity: .7;
    transform: scale(1.1);
}
/* Stages Container End */

/* Main End */

/* Responsive Start */
@media only screen and (max-width: 1450px) {

.sidebar {
    display: none;
}

.stages-container {
    display: flex;
    flex-direction: column;
}

.stage-general {
    width: 100%;
}

.stage-header {
    display: flex;
    justify-content: space-between;
    /* margin-right: 50px; 
    gap: 50px; */
}
}
/* Responsive End */ 

/* Styling of the Content that is created or rendered with Javascript Start */
#stage-todo {
    height: 200px;
    box-shadow: 1px 1px rgb(0 0 0 / 10%), -1px 1px rgb(0 0 0 / 10%), 1px -1px rgb(0 0 0 / 10%), -1px -1px rgb(0 0 0 / 10%);
    border-radius: 30px;
    margin: 20px 0;
    padding: 20px;
}
#stage-todo > h3 {
    display: inline-block;
    font-weight: 100;
    color: #fff;
    padding: 5px 30px;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

/* To give every single child element the exact same stylings */
#stage-todo > * {
    margin: 0 0 10px 0;
} 

.blue {
    color: #4589FF;
}

.grey {
    color: rgb(196, 196, 196);
}

.design {
    background-color: orange;
}

.sales {
    background-color: purple;
}

.backoffice {
    background-color: turquoise;
}

.media {
    background-color: yellow;
}

.development {
    background-color: brown;
}

.contact-initials {
    display: flex;
    
}

.contact-initials > p {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50% 50%;
    background-color: orange;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
/* Styling of the Content that is created or rendered with Javascript End*/