body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(69, 137, 255);
}

.login_head {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 150px;
}

.login_head img {
    width: 80px;
    object-fit: contain;
    z-index: 1;
    object-fit: contain;
}

.sign_in_button {
    margin-left: 25px;
    background-color: rgb(69, 137, 255);
    color: white;
    border: transparent;
    height: 30px;
    width: 60px;
    border-radius: 5px;
}

.sign_in_button:hover {
    cursor: pointer;
    background-color: rgb(59, 131, 255);
    transition: all .2s ease-in-out;
}

.login_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgba(128, 128, 128, 0.103);
    width: 761px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
}

.login_main_container form {
    display: flex;
    flex-direction: column;
}

.login_main_container form input {
    border: transparent;
    border-bottom: 2px solid rgba(128, 128, 128, 0.185);
    padding: 10px;
}

.login_main_container form input::placeholder {
    color: rgb(209, 209, 209);
    padding-left: 10px;
}


.log_in_headline {
    border-bottom: 2px solid rgb(69, 137, 255);
    padding-bottom: 10px;
    font-size: 47px;
    margin-top: -20px;
}

.login_additionals {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 15px;
    font-size: 15px;
}

.forgot_my_password a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(69, 137, 255);
}

.log_in_buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}


.log_in_button {
    margin-left: 25px;
    background-color: rgb(69, 137, 255);
    color: white;
    border: transparent;
    height: 48px;
    width: 270px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 23px;
    font-family: 'Open Sans';
}

.log_in_button:hover {
    cursor: pointer;
    background-color: rgb(59, 131, 255);
    transition: all .2s ease-in-out;
}


.registry_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-top: -50px;
}

.registry_input input {
    font-size: 19px;
}

span p {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 23px;
    width: 450px;
    font-family: 'Open Sans';
    margin-top: -50px;
}

.headline_fortgot_password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 510px;
}

.back_button {
    color: rgb(59, 131, 255);
    text-decoration: none;
    padding: 2px;
    padding-right: 50px;
}

.back_button:hover {
    color: rgb(38, 110, 255);
    transition: all .2s ease-in-out;
}

@media (max-width:800px) {
    .login_form {
        width: 450px;
    }

    .login_head {
        margin-left: 50px;
        margin-right: 0;
    }

    .log_in_headline {
        text-align: center;
        width: 400px;
        margin-left: -20px;
    }

    .headline_fortgot_password {
        flex-direction: column;
        margin-left: 40px;
    }

    .headline_fortgot_password a {
        margin-left: -300px;
        margin-bottom: -30px;
    }

    p {
        font-size: 19px !important;
        width: 350px !important;
    }
}

@media (max-width:600px) {



    .login_form {
        width: 350px;
        overflow: hidden;
    }

    .login_head {
        margin-left: 30px;
        margin-right: 0;
    }

    .log_in_headline {
        text-align: center;
        width: 300px;
        margin-left: -20px;
    }

    .headline_fortgot_password {
        flex-direction: column;
    }

    .headline_fortgot_password a {
        margin-left: -300px;
        margin-bottom: -20px;
    }

    .registry_input {
        width: 300px;
    }

    p {
        font-size: 19px !important;
        width: 300px !important;
    }
}

@media (max-width:420px) {

    .login_form {
        width: 340px;
        overflow: hidden;
    }

    .login_head {
        margin-left: 30px;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: -100px;
    }

    .log_in_headline {
        font-size: 30px;
    }

}