* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.d-none {
    display: none;
}

.cursor {
    cursor: pointer;
}

h1 {
    color:#2A3647;
}
/* General Stylings End*/

/* Header Start */
nav {
    height:80px;
    background: #4589FF;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 4px rgb(0 0 0 / 16%);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
}

.nav-container-left img {
    height: 40px;
    width: auto;
}

.nav-container-right img {
    height: 20px;
    width: auto;
}

.nav-container-right {
    display: flex;
    color: #fff;
}

.nav-container-right p, img {
    padding: 0 22px 0 0;
}
/* Header End */

/* Help Me Section Start */
.help-me-container {
    background-color:#fff;
    height: 100vh;
    position: absolute;
    margin: 150px 100px;
}

.help-me-container h1 {
    font-size: 36px;
}

.help-me-container h1, .help-me-container h2 {
    color: #4589FF;
}

.help-me-header {
    display: flex;
    justify-content: space-between;
}

ol {
    list-style-type: none;
}

li {
    margin: 10px auto;
}

button {
    font-size: 25px;
    /* remove default stylings */
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition:all 225ms ease-in-out;
  }

  button:hover {
    transform: scale(1.05) rotate(180deg);
    opacity: .6;
  }