.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 66px 20px;
    position: absolute;
    width: 232px;
    height: 596px;
    left: 0px;
    top: 92px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0px;
}

.side-bar a {
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    color: rgb(107, 119, 141);

}

nav img {
    width: 30px;  
    height: 30px;
}

.side-bar a:hover {
    border: 1px solid #42526e;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.side-links {
    padding: 0px 16px;
    gap: 20px;
    width: 186px;
    height: 46px;
    border-radius: 15px;

}

.side-links-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 186px;
    height: 229px;
}

.side-text-size {
    font-size: 18px;
}