/* General Stylings Start*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.d-none {
  display: none;
}

.cursor {
  cursor: pointer;
}

h1 {
  color: #2a3647;
}

a {
  display:flex !important;
}

.summary {
  background-color: rgb(210, 227, 255);
}

/* General Stylings End*/

/* Header Start */
nav {
  height: 80px;
  background: #4589ff;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 4px rgb(0 0 0 / 16%);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
}

.nav-container-left img {
  height: 40px;
  width: auto;
}

.nav-container-right img {
  height: 20px;
  width: auto;
}

.nav-container-right {
  display: flex;
  color: #fff;
}

.nav-container-right p,
img {
  padding: 0 22px 0 0;
}

/* Header End */

/* Main Start */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main p {
  font-size: 22px;
  text-align: center;
}

main h2 {
  font-size: 40px;
  text-align: center;
}

/* Styling for temporary sidebar remove later*/
.main-left {
  height: 100vh;
  width: 25%;
  background-color: black;
}

/* Styling for temporary sidebar remove later*/
.main-right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 20px;
}

.main-right-tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin:80px 0 0 230px;
}

.main-right-top {
  display: flex !important;
  justify-content:space-between;
  flex-wrap:wrap;
  margin: 0 50px 25px 50px;
}

.main-right-bottom {
  display: flex;
  flex-wrap: wrap;
  /* align-items:center; */
  justify-content:space-between;
  margin: 0 50px;
}

.main-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:100vw;
}

.task-urgent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: calc(73%); /* 75% of the container width with a little spacing */
  color: #fff;
  background-color: #4589ff;
  border-radius: 30px;
  transition: all 225ms ease-in-out;
  padding: 15px 0;

}

.task-urgent:hover {
  transform: scale(1.05);
  background-color: #fff;
  color: #4589ff;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
}

.task-urgent-left {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:15px;
}

.task-urgent-left-top {
  display: flex;
  align-items: center;
  gap:15px;
}

.task-urgent-left-top img {
  height: 60px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  object-fit: cover;
  padding: 0;
}

.task-urgent-left-top h2 {
  font-size: 38px;
}

.task-urgent-right {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  flex:1;
}

/* Task To-do Start */
.task-general {
  display: flex;
  flex-direction:column;
  align-items:center;
  flex-basis: calc(20%); /* 75% of the container width with a little spacing */
  padding: 30px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
  border-radius: 30px;
  transition: all 225ms ease-in-out;
}

.task-general:hover {
  background-color: #4589ff;
  color: #fff !important;
  transform: scale(1.05);
}

.greet_user {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.task-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(20%); /* 75% of the container width with a little spacing */

  color: #4589ff;
  background: #d2e3ff;
}

.task-todo-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
}

.task-todo-top img {
  padding:0;
}


/* Task To-do End */
/* Main End */

.show_logged_on_user {
  display: flex;
  justify-content: center;
  align-items:center;
  margin:80px 0;
  font-size: 40px;
}

.show_logged_on_user span {
  color: rgb(69, 137, 255);
  margin-left: 15px;
  font-size: 35px;
  font-weight: 700;
}

/* Responsive Start */
@media only screen and (max-width: 1300px) {
  .show_logged_on_user {
    margin-top:160px;
    margin-left: 230px;
  }

  main p {
    font-size: 18px;
  }

  .main-right-tasks {
    margin:0 0 100px 0;
  }

  .main-right-top {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0 0 25px 230px;
  }

  .main-right-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 230px !important;
    margin:0;
    gap:25px;
  }

  
  .task-urgent {
    width:60vw;
    margin-bottom:25px;
  }

  .task-general {
    width: calc((60vw - 25px) / 2); /* Calculate the width for two items with a 25px gap */

    flex-basis:auto;
  }

  .task-todo {
    width: 60vw;
  }
}

@media only screen and (max-width: 1000px) {
  main p {
    font-size: 18px;
  }

  .task-urgent {
    width: 80vw;
  }

  .main-right-top {
    margin: 0;
  }

  .main-right-bottom {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 !important;
  }

  .task-general {
    width: 80vw !important;
  }

  .task-todo {
    margin-bottom:25px;
  }

  .show_logged_on_user {
    margin-top: 160px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 840px) {

  html {
    overflow-x: hidden !important;
  }
}
@media only screen and (max-width: 600px) {
  .main-right {
    margin: 0;
  }
  .main-right-bottom {
    margin-left: 0;
    width: 100%;
  }

  .show_logged_on_user {
    margin:120px 0 40px 0;
    text-align:center;
  }

  .nav-container {
    justify-content: center;
  }

  .nav-container p {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .main-right-header {
    width: 80vw;
  }

  .side-links-div {
    margin: 0px;
    justify-content: center;
    align-items: center;
  }

  .task-urgent div h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 420px) {

  .task-urgent-left-top img {
    height: 60px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    object-fit: cover;
    padding: 0;
    margin: 0 15px 0 0;
  }

  .show_logged_on_user {
    margin: 80px 0 40px 0;
  }

  .greet_user {
    margin-top: 25px;
    flex-direction: column;
  }

  .greet_user h5 {
    width: 300px;
    margin: 0;
  }

  .greet_user span {
    width: 300px;
    margin: 0;
  }

  .main-right-bottom {
    margin: 0px;
  }

  .task-urgent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .task-urgent div p {
    font-size: 15px;
    margin: 0;
  }
}

@media only screen and (max-width: 380px) {
  .main-right {
    margin-left: 25px;
  }
}

/* Responsive End */