<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sidebar</title>
</head>

<body>
    <div>
        <nav class="side-bar">
            <div class="side-links-div">
                <a class="side-links" href="/join-mch/html/summary.html"><img src="/assets/icons/summary-icon.png"><span
                        class="side-text-size">Summary</span></a>
                <a class="side-links" href="/join-mch/html/board.html"><img src="/assets/icons/board-icon.png"><span
                        class="side-text-size">Board</span></a>
                <a class="side-links" href="/join-mch/html/add-task.html"><img src="/assets/icons/addtask-icon.png"><span
                        class="side-text-size">Add Task</span></a>
                <a class="side-links" href="/join-mch/html/contacts.html"><img src="/assets/icons/contacts-icon.png"><span
                        class="side-text-size">Contacts</span></a>
            </div>
            <div class="side-bar-legal">
                <a class="side-links" href="/join-mch/html/legalnotice.html"><img src="/assets/icons/legal-icon.png"><span
                        class="side-text-size">Legal notice</span></a>
            </div>
        </nav>
    </div>
</body>
</html>