<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sidebar</title>
</head>

<body>
    <div>
        <nav id="side_bar" class="side-bar">
            <div class="side-links-div">
                <a id="menu_summary" class="side-links" href="summary.html"><img src="../assets/icons/summary-icon.png"><span
                        class="side-text-size">Summary</span></a>
                <a id="menu_board" class="side-links" href="board.html"><img src="../assets/icons/board-icon.png"><span
                        class="side-text-size">Board</span></a>
                <a id="menu_add-task" class="side-links" href="add-task.html"><img src="../assets/icons/addtask-icon.png"><span
                        class="side-text-size">Add Task</span></a>
                <a id="menu_contacts" class="side-links" href="contacts.html"><img src="../assets/icons/contacts-icon.png"><span
                        class="side-text-size">Contacts</span></a>
            </div>
            <div class="side-bar-legal">
                <a id="menu_legalnotice" class="side-links" href="legalnotice.html"><img src="../assets/icons/legal-icon.png"><span
                        class="side-text-size">Legal notice</span></a>
            </div>
        </nav>
    </div>
</body>
</html>